
body {
background-color: black; 
color: Red;
 font-size: 30px;
font-family: Copperplate, Papyrus, fantasy;
text-align: center; 
}
div{font-size: 50px}
h1{color: purple;}
h2{color:purple;}
h3{color:purple;}
h4{color:purple;}
h5{color:purple;}
h6{color:purple;}
a{color:blue;}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}
